::-webkit-scrollbar {
    width: 0;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    margin: 0;
}

.full-box {
    overflow: hidden;
    margin: 0;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    position: relative;
}

@media screen and (min-width: 500px) {

.scale-box {
    height: 100vh;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    align-items: center;
    transform: scale(1.2);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.scale-box.active {
    opacity: 1;
    transform: scale(1);
}

.content-box {
    height: 98vh;
    flex: 24.4%;
    flex-shrink: 0;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.content-box.slide-down {
    transform: translateY(-100vh);
    transition: transform 0.7s ease;
}

.content-box.slide-up {
    transform: translateY(+100vh);
    transition: transform 0.7s ease;
}

.content-box.active {
    transform: translateY(0);
}

.image-plot {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.5s ease;
    border: none;
    border-radius: 10px;
}

.image-plot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.image-plot:hover img {
    transform: scale(1.1);
    filter: brightness(110%);
}

.pict1 {object-position: 80% top;}
.pict2 {object-position: 50% top;}
.pict3 {object-position: 20% top;}
.pict4 {object-position: 65% top;}
.pict5 {object-position: center center;}
.pict6 {object-position: 5% 0%;}
.pict7 {object-position: 5% bottom;}
.pict8 {object-position: left bottom;}

.shadow-box-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.shadow-box-image:hover {
    opacity: 0.7;
}

.content-box-inside {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.title-box-inside {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Heavy';
    font-size: 2vw;
    text-align: center;
    width: 80%;
    height: 6%;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.desc-box-inside {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    text-align: center;
    width: 40%;
    height: 6%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.content-box-inside:hover {
    opacity: 1;
}

.spawn-background-slide-button {
    /* background-color: white; */
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.slider-button-container {
    /* background-color: black; */
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 43%;
    color: white;
    font-size: 200%;
    pointer-events: all;
    animation: fadeIn 0.5s ease;
    transition: transform 0.3s ease;
}

.slider-button-container:hover {
    transform: scale(1.1);
}

.slider-button-container.left {left: 3%;}
.slider-button-container.right {right: 3%;}
.slider-button-container-effect {text-shadow: 0px 0px 10px rgb(0, 0, 0);}

}