body {
    background-color: #ffffff;
    overflow: hidden;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    position: relative;
    cursor: default;
}

input {
    cursor: default;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.poppins {
    font-family: "Poppins", sans-serif;
}